# General Java project files
*.class
*.log
*.tmp
*.bak
*.swp
/bin/
build/
out/
target/

# IntelliJ IDEA-specific files
.idea/
*.iml
.idea_modules/

# NetBeans-specific files
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
